article {
    font-size: 0.8rem;
}

.article1 {
    h2 {
        color: blue;
    }
    p {
        color: lightseagreen;
    }
    
}

.article2 {
    h2 {
        color: darkblue;
    }
    p {
        color: lightseagreen;
    }
}

.article3 {
    h2 {
        color: black;
    }
    p {
        color: lightseagreen;
    }
}