.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper--white {
    background-color: #ffffff;
}

.wrapper--dark-gray {
    background-color: #2a2d32;
}

.wrapper--light-gray {
    background-color: #f7f7f7;
}

.wrapper--gray {
    background-color: #35383c;
}