// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$aircraft-name: 'aircraft';
$aircraft-x: 0px;
$aircraft-y: 17px;
$aircraft-offset-x: 0px;
$aircraft-offset-y: -17px;
$aircraft-width: 17px;
$aircraft-height: 16px;
$aircraft-total-width: 34px;
$aircraft-total-height: 33px;
$aircraft-image: '../img/sprite/sprite.png';
$aircraft: (0px, 17px, 0px, -17px, 17px, 16px, 34px, 33px, '../img/sprite/sprite.png', 'aircraft', );
$coffee-name: 'coffee';
$coffee-x: 0px;
$coffee-y: 0px;
$coffee-offset-x: 0px;
$coffee-offset-y: 0px;
$coffee-width: 17px;
$coffee-height: 17px;
$coffee-total-width: 34px;
$coffee-total-height: 33px;
$coffee-image: '../img/sprite/sprite.png';
$coffee: (0px, 0px, 0px, 0px, 17px, 17px, 34px, 33px, '../img/sprite/sprite.png', 'coffee', );
$flask-name: 'flask';
$flask-x: 17px;
$flask-y: 17px;
$flask-offset-x: -17px;
$flask-offset-y: -17px;
$flask-width: 13px;
$flask-height: 16px;
$flask-total-width: 34px;
$flask-total-height: 33px;
$flask-image: '../img/sprite/sprite.png';
$flask: (17px, 17px, -17px, -17px, 13px, 16px, 34px, 33px, '../img/sprite/sprite.png', 'flask', );
$tv-name: 'tv';
$tv-x: 17px;
$tv-y: 0px;
$tv-offset-x: -17px;
$tv-offset-y: 0px;
$tv-width: 17px;
$tv-height: 17px;
$tv-total-width: 34px;
$tv-total-height: 33px;
$tv-image: '../img/sprite/sprite.png';
$tv: (17px, 0px, -17px, 0px, 17px, 17px, 34px, 33px, '../img/sprite/sprite.png', 'tv', );
$spritesheet-width: 34px;
$spritesheet-height: 33px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($aircraft, $coffee, $flask, $tv, );
$spritesheet: (34px, 33px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
