.wrapper {
  width: 909px;
  margin: 0 auto;
}

header {
  margin-top: 17px;
}

.top-bar {
  position: relative;  
}

.icon-handset {
  margin-left: 8px;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 11px 10px 10px 11px/11px 11px 10px 10px;
  background-color: #f10000;
  background-image: linear-gradient(to top, #206988, #114165 59%, #0c3256);
  text-align: center;
  line-height: 21px;
}

.phone-numbers {
  display: inline-block;
  font-family: Arial;
	font-size: 18px;
	color: #5e696d;
  text-decoration: none;
  position: absolute;
  top: 2px;
}

.pn1 {
  left: 34px;
}

.pn2 {
  left: 169px;
}

.authorization-form {
  display: inline-block;
  width: 495px;
	height: 26px;
	border-radius: 4px/3px;
	background-color: #b1bcc0;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
  position: absolute;
  left: 314px;
} 

.authorization-form img {
  float: left;
  margin-top: 4px;
  margin-left: 6px;
}

input[type="text"],
input[type="password"] {
  width: 113px;
	height: 16px;
	background-color: #fff;
	border: solid 1px #9ba1a3;
  padding-left: 4px;
  color: #97a2a6;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 10.91px;
  float: left;
  margin-top: 3px;
  margin-left: 4px;
}

input[type="submit"] {
  color: #ffffff;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 10.91px;
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
  border: 0px;
  line-height: 26px;
  float: left;
  margin-left: 8px;
}

form:first-of-type input[type="submit"] {
  border-left: 1px solid #d3d9de;
}

.authorization-form a {
  color: #bfbfbf;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 12px;
  line-height: 26px;
  margin-left: 12px;
}

.top-nav {
  width: 75px;
	height: 19px;
	border-radius: 10px/10px 10px 9px 9px;
	background-color: #fff;
	border: solid 1px #bdc4c7;
  box-shadow: 0px 1px 6px -1px rgba(0,0,0,.75);
  position: absolute;
  top: 0px;
  left: 826px;
}

.top-nav a {
  line-height: 19px;
  padding-left: 7px;
}

.banner {
  margin-top: 8px;
}

/*MAIN-NAVIGATION*/
.main-nav {
  width: 910px;
	height: 32px;
	border-radius: 5px/3px 3px 2px 2px;
	background-color: #fff;
	box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	border: solid 1px #0d1642;
	background-image: linear-gradient(to top, #000, #576068);
}

.main-nav li {
  float: left;
  list-style: none;
  }

.main-nav li:first-child {
  margin-left: 125px;
}

.main-nav li a {
  line-height: 32px;
  color: #b1bcc0;
  text-decoration: none;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 13.64px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-nav a:hover {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  border-radius: 12px/13px;
	background-color: #f60303;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}

.products {
  display: inline-block;
  color: #8a9296;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.products span {
  color: #0d5a8f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.content-container {
  margin-top: 158px;
}

/*Каталог продукции*/
.catalog {
  float: left;
  width: 189px;
}

.catalog-title {
  width: 181px;
	height: 25px;
	border-radius: 12px/12px 12px 13px 13px;
	background-color: #fff;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
  position: relative;
  margin-bottom: 13px;
}

.catalog-title p {
  position: absolute;
  left: 28px;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 12.73px;
  color: #114165;
  line-height: 25px;
}

.catalog-title p:before {
  position: absolute;
  top: 2px;
  left: -25px;
  display: block;
  content: '';
  width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #114165;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
  background-image: url("../img/icon-catalog.png"), none;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

.category-title {
 border: 1px solid #79878d;
 border-radius: 13px;
 height: 28px;
 width: 150px;
 position: relative;
 overflow: hidden;
}

.category-title p {
  position: absolute;
  left: 30px;
  display: inline-block;
  line-height: 28px;
  color: #114165;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 14px;
}

.category-title p:before {
  position: absolute;
  top: 3px;
  left: -25px;
  display: inline-block;
  content: '';
  border: 5px solid #114165;
  border-radius: 16px;
  width: 10px;
  height: 10px;
}

.catalog a {
  padding-left: 40px;
  text-decoration: none;
  color: #465961;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 12.73px;
}

.catalog a:hover {
  text-decoration: underline;
  color: #0c3256;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px;
  font-weight: bold;

}

/*Основной контент*/
main {
  float: left;
  width: 526px;
	height: 627px;
	border-radius: 3px/2px 2px 3px 3px;
	background-color: #fff;
	background-image: linear-gradient(to top, rgba(35,75,93,.49), rgba(201,207,209,.49));
  display: flex;
  flex-wrap: wrap;
}

/*Правый sidebar*/
.filter {
  float: left;
  width: 191px;
}

.filter-title {
  width: 181px;
	height: 25px;
	border-radius: 12px/12px 12px 13px 13px;
	background-color: #fff;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
  position: relative;
  margin-bottom: 13px;
}

.filter-title p {
  position: absolute;
  left: 28px;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 14px;
  color: #0c3256;
  line-height: 25px;
}

.filter-title p:before {
  position: absolute;
  top: 2px;
  left: -25px;
  display: block;
  content: '';
  width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #114165;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
  background-image: url("../img/icon-catalog.png"), none;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

.filter input[type="checkbox"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter input[type="submit"] {
  width: 80px;
	height: 24px;
	border-radius: 10px/11px;
	background-color: #000;
	border: solid 1px #a7abae;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
  color: #e5e9ea;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 11px;
}

.clearfix:after{
  content: '';
  clear: both;
  display: block;
}

/*FOOTER-NAVIGATION*/
footer {
  background: #213a4d;
  position: relative;
  overflow: hidden;
  height: 40px;
  height: 99px;
  margin: 10px 0;
}

/*.footer-nav {
  background: #213a4d;
  position: relative;
  overflow: hidden;
  height: 40px;
  height: 99px;
  margin: 10px 0;
}*/

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  height: 40px;
  top: 13px;
}

footer li {
  position: relative;
  left: -50%;
  float: left;
  /*margin: 0 10px;*/
  /*height: 40px;*/
}

footer li a {
  color: #bec6c9;
  display: block;
  text-decoration: none;
  padding: 0 12px;
  /*line-height: 40px;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-right: 1px solid #bec6c9;
}

footer li:last-child a {
  border-right: 1px solid transparent;
}

footer a:hover {
  color: #52abcb;
}

footer p {
  /*display: block;*/
  position: relative;
  top: 30px;
  color: #7f4740;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}